# G3X Database Updater - SD Card Auto-Processor
# /etc/udev/rules.d/99-g3x-db-sdcard.rules
#
# This rule triggers the G3X Database Updater when an SD card is inserted.
# It uses systemd to properly handle the long-running process.
#
# Installation:
#   sudo cp 99-g3x-db-sdcard.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules

# Match FAT32 formatted SD cards (USB storage devices)
ACTION=="add", KERNEL=="sd[a-z][0-9]", SUBSYSTEM=="block", \
    ENV{ID_FS_TYPE}=="vfat", \
    TAG+="systemd", ENV{SYSTEMD_WANTS}="g3x-db-updater@%k.service"

# Match MMC devices (internal SD card readers like Raspberry Pi)
ACTION=="add", KERNEL=="mmcblk[0-9]p[0-9]", SUBSYSTEM=="block", \
    ENV{ID_FS_TYPE}=="vfat", \
    TAG+="systemd", ENV{SYSTEMD_WANTS}="g3x-db-updater@%k.service"

# Alternative: Match by specific SD card reader vendor/product ID
# Uncomment and modify for specific hardware
# ACTION=="add", KERNEL=="sd[a-z][0-9]", SUBSYSTEM=="block", \
#     ATTRS{idVendor}=="0781", ATTRS{idProduct}=="5581", \
#     TAG+="systemd", ENV{SYSTEMD_WANTS}="g3x-db-updater@%k.service"
